# conda install --file etc/standalone_conda_requirements should install all required dependencies of imSim including a conda based version of the Rubin pipelines.

stackvana>=0.2023.32
gitpython
dust_extinction
batoid
batoid-rubin
sncosmo
palpy
rubin-sim
