
# This config file configures the imSim modules with default behavior. This file
# is designed to be used as a template and some values can or should be
# overridden.
#
# At least the following value(s) should generally be overridden in order to use
# this file:
#
# input.instance_catalog.filename
#

# Get most of the configuration from the base imSim config template.
modules:
    - imsim
template: imsim-config-photon-pooling

####################################################################
#  The following entries are added to the base configuration above.
#
#  Add entries for reading instance catalogs.
####################################################################

input.instance_catalog:
    # This should be overridden below or on the command line.
    file_name: default_catalog_file.txt
    sed_dir: $os.environ.get('SIMS_SED_LIBRARY_DIR')
    pupil_area: $pupil_area

input.opsim_data:
    # Read the visit meta data. By default, we use the same file as the above
    # instance catalog with the object information. However, you could specify
    # an opsim file or another instance catalog instead.
    file_name: '@input.instance_catalog.file_name'

# Define the galaxy type and positions to use
gal:
    type: InstCatObj

stamp.world_pos:
    type: InstCatWorldPos
