
# This config file configures the imSim modules with default behavior. This file
# is designed to be used as a template and some values can or should be
# overridden.
#
# At least the following value(s) should generally be overridden in order to use
# this file:
#
# input.sky_catalog.file_name
# input.opsim_data.file_name
#

# Get most of the configuration from the base imSim config template.
modules:
    - imsim
template: imsim-config-photon-pooling

####################################################################
#  The following entires are added to the base configuration above.
#
#  Add entries for reading skyCatalogs.
####################################################################

input.sky_catalog:
    file_name: default_sky_cat.yaml
    band: $band
    mjd: { type: OpsimData, field: mjd }
    pupil_area: $pupil_area

input.opsim_data:
    file_name: default_opsim.db

# Define the galaxy type and positions to use
gal:
    type: SkyCatObj

stamp.world_pos:
    type: SkyCatWorldPos
