
# This config file configures the imSim modules with default behavior. This file
# is designed to be used as a template and some values can or should be
# overridden.
#
# At least the following value(s) should generally be overridden in order to use
# this file:
#
# input.instance_catalog.filename
#

# Get most of the configuration from the base imSim config template.
modules:
    - imsim
template: imsim-config-photon-pooling

####################################################################
#  The following entries are added to the base configuration above.
#
#  Add entries for reading instance catalogs.
####################################################################

input.instance_catalog:
    # This should be overridden below or on the command line.
    file_name: default_catalog_file.txt
    sed_dir: $os.environ.get('SIMS_SED_LIBRARY_DIR')
    pupil_area: $pupil_area
    # A single WCS calculated used when determining which objects are to be drawn
    # by which detector. We could in principle use any WCS. Here we start from the
    # same Batoid WCS as in the image. In the code, any SIP components of the
    # fiducial WCS, once it's been calculated, are removed.
    fiducial_wcs:
        type: Batoid

        # These are required:
        camera: $camera
        boresight: $boresight

        obstime:
            type: Eval
            str: "astropy.time.Time(mjd_val, format='mjd', scale='tai')"
            fmjd_val: { type: OpsimData, field: mjd }

        # The fiducial WCS will use this detector. We default here to the
        # central detector, but it can be overrdden if needed.
        det_name: "R22_S11"
        wavelength: $(@image.bandpass).effective_wavelength

        # The rest can be omitted, since these are the default values, but shown here
        # for reference.
        temperature: 280  # Kelvin
        pressure: 72.7    # kPa
        H2O_pressure: 1.0 # kPa
        order: 3          # Order of the SIP polynomial

input.opsim_data:
    # Read the visit meta data. By default, we use the same file as the above
    # instance catalog with the object information. However, you could specify
    # an opsim file or another instance catalog instead.
    file_name: '@input.instance_catalog.file_name'

# Define the galaxy type and positions to use
gal:
    type: InstCatObj

stamp.world_pos:
    type: InstCatWorldPos
